body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: cadetblue;
    margin: 30px 10px 0px 10px;
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.btn-container {
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid black 5px; */
}

.output-container {
    border: solid wheat 5px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    padding: 30px 15px;
    border-radius: 5px;
}

.output-container div {
    min-width: 100px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#result-container {
    /* border: solid; */
    border-radius: 3px;
    min-width: 150px;
    height: 60px;
    font-size: larger;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-container{
    margin-top: 60px;
}

.output-container {
    display: flex;    
    justify-content: space-between;
    width: 40%;
} 

#round-container {
    /* background-color: blanchedalmond; */
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#totalRounds {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
    height: 80px;
}

#totalRounds h3, h2 {
    /* background-color: blanchedalmond; */
}


.fa-solid {
    font-size: xx-large;
    /* background-color: aquamarine; */
}

.r-content {
    /* background-color: blueviolet; */
    margin: 10px 0px;
}
